.DS_Store
target
assignments/example/.cache
assignments/example/.classpath
assignments/example/.project
assignments/example/.settings
**/target/**
**/lib_managed/**
**/.project
**/.classpath
**/.settings
**/.cache
